extends /templates/base

block content

  h1(data-i18n="community.main_title")

  p(data-i18n="community.introduction")

  div

    .community-columns
      a(href="/editor/level")
        img(src="/images/pages/community/level.png")
      h2
        a(href="/editor/level", data-i18n="editor.level_title")
      p
        span.spr(data-i18n="community.level_editor_prefix")
        a(href="/editor/level", data-i18n="editor.level_title")
        span.spl(data-i18n="community.level_editor_suffix")

    .community-columns
      a(href="/editor/thang")
        img(src="/images/pages/community/thang.png")
      h2
        a(href="/editor/thang", data-i18n="editor.thang_title")
      p
        span.spr(data-i18n="community.thang_editor_prefix")
        a(href="/editor/thang", data-i18n="editor.thang_title")
        span.spl(data-i18n="community.thang_editor_suffix")

    .community-columns
      a(href="/editor/article")
        img(src="/images/pages/community/article.png")
      h2
        a(href="/editor/article", data-i18n="editor.article_title")
      p
        span.spr(data-i18n="community.article_editor_prefix")
        a(href="/editor/article", data-i18n="editor.article_title")
        span.spl(data-i18n="community.article_editor_suffix")

  .clearfix

  div

    .half-width

      h2.lower-titles(data-i18n="community.find_us")

      .logo-row

        a(href="https://github.com/ThiagoWhispher/Codecombat-Project")
          img(src="/images/pages/community/logo_github.png", data-i18n="[data-content]community.social_github" data-content="Check out all our code on GitHub")

        a(href="http://discourse.codecombat.com")
          img(src="/images/pages/community/logo_discourse.png", data-i18n="[data-content]community.social_discource" data-content="Join the discussion on our Discourse forum")

        a(href="https://coco-slack-invite.herokuapp.com/")
          img(src="/images/pages/community/logo_slack.png", data-i18n="[data-content]community.social_slack" data-content="Chat with us in the public CodeCombat Slack channel")

    
  .clearfix
